---
import { Image } from 'astro:assets';
import ArticlesCarousel from '../components/ArticlesCarousel.astro';
import * as i18n from '../i18n/utils';

import article1 from '../assets/images/articles/article-1.png';
import article2 from '../assets/images/articles/article-2.png';
import article3 from '../assets/images/articles/article-3.png';

const lang = i18n.getLangFromUrl(Astro.url);
const t = i18n.useTranslations(lang);

const articles = [
  {
    id: 3,
    title: t('articles.list.3.title'),
    image: article3,
    url: 'https://mobulaestudio.medium.com/lo-que-nadie-te-dice-sobre-la-pauta-digital-y-que-s%C3%AD-deber%C3%ADas-saber-antes-de-invertir-e259e00394f3'
  },
  {
    id: 2,
    title: t('articles.list.2.title'),
    image: article2,
    url: 'https://mobulaestudio.medium.com/por-qu%C3%A9-no-debes-temerle-a-la-inteligencia-artificial-3c8888dc8c85'
  },
  {
    id: 1,
    title: t('articles.list.1.title'),
    image: article1,
    url: 'https://mobulaestudio.medium.com/por-qu%C3%A9-en-mobula-ofrecemos-m%C3%A1s-que-marketing-digital-9b711a1da88e'
  }
];
---

<section id="articulos" class="bg-[#faf1ea] pt-12 pb-10 md:pt-16 md:pb-12 lg:pt-24 scroll-mt-16 lg:scroll-mt-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="[font-family:'Bricolage_Grotesque',Helvetica] font-bold text-3xl md:text-4xl lg:text-5xl text-[#13243c] mb-12">
      {t('articles.featured')}
    </h2>

    <ArticlesCarousel articles={articles} />
  </div>
</section>
